*build
*build_win
*_grt_rtw
*slprj
*.ext
*.slxc
*.vscode/*
*.pb.h
*.pb.cc
*mdl_test*
*.exe
*tmp*
*.dll
*.json
*.bak
.idea
__pycache__
txSim
*html*
deps/*
vehicle_dynamics*
tx_simvehicle
tx_simvehicle.tar.gz
param/txcar.lic
eigen3
*.par


!param/*.json